.tbdemo-tooltip {
  padding: 8px 16px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border: 1px solid #2A2F3033;
  border-radius: 6px;
  color: #FFFFFF;
  right: 90px;
  bottom: 35px;
  font: normal normal bold 12px/16px Open Sans;
  letter-spacing: 0px;
  color: #2A2F30;
  height: auto;
}

.tbdemo-hidden,
#wpadminbar {
  display: none !important;
}

html {
  margin-top: 0 !important;
}

/*body {
  padding-top: 60px !important;
}*/

.tbdemo-bar {
  background-color: #2A2F30;
  width: 100%;
  height: 60px;
  font: normal normal 600 16px/28px Open Sans;
  letter-spacing: 0.13px;
  color: #FFFFFF;
  position: fixed;
  z-index: 1000000;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.tbdemo-top-bar {
  top: 0;
  left: 0;
  background-image: url(../image/topbar_left_bg.png), url(../image/topbar_right_bg.png);
  background-position: left top, right top;
  background-repeat: no-repeat, no-repeat;
  min-height: 60px;

}

.tbdemo-bottom-bar {
  bottom: 20px;
  left:50%;
  transform: translate(-50%);
  width: 776px;
  border-radius: 6px;
  justify-content: left;
  padding: 0 20px;
}

.tbdemo-bottom-bar span {
  flex-grow: 1;
}

.tbdemo-bottom-bar .tbdemo-button,
.tbdemo-bottom-bar .tbdemo-button:hover {
  margin: 0;
}

.tbdemo-button.tbdemo-button-blue,
.tbdemo-button.tbdemo-button-blue:hover {
  background: #2160B5 0% 0% no-repeat padding-box;
  border-radius: 6px;
  opacity: 1;
  width: 260px;
  height: 40px;
  /* UI Properties */
  text-align: center;
  font: normal normal 600 14px/40px Open Sans;
  letter-spacing: 0.12px;
  color: #FFFFFF;
  text-transform: uppercase;
  padding: 0;
}

.tbdemo-button,
.tbdemo-button:hover {
  position: relative;
  cursor: pointer;
  width: 180px;
  height: 40px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border: none;
  border-radius: 6px;
  border: none;
  margin: 0 20px;
  padding: 0;
  font: normal normal 600 14px/40px Open Sans;
  letter-spacing: 0.12px;
  color: #2A2F30;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
}

.tbdemo-button.tbdemo-button-loading,
.tbdemo-button.tbdemo-button-loading:hover,
.tbdemo-button.tbdemo-button-disabled,
.tbdemo-button.tbdemo-button-disabled:hover {
  background-color: #FFFFFF80;
}

.tbdemo-button-green-disabled,
.tbdemo-button-green-disabled:hover {
  background-color: #22B33980;
}

.tbdemo-button-green,
.tbdemo-button-green:hover {
  background: #22B339 0% 0% no-repeat padding-box;
  color: #FFFFFF;
}

.tbdemo-button.tbdemo-button-loading .tbdemo-loader {
  animation: rotation 1s infinite linear;
  background: url("../image/loader.svg") no-repeat;
  width: 14px;
  height: 14px;
  margin: auto;
  display: inline-block;
  vertical-align: middle;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.tbdemo-button-loading .tbdemo-button-text,
.tbdemo-button .tbdemo-loader {
  display: none;
}

.tbdemo-button-tooltip {
  padding: 16px;
  box-sizing: border-box;
  position: absolute;
  z-index: 10;
  display: none;
  background-color: #FFFFFF;
  border: 1px solid #323A4533;
  border-radius: 6px;
  font: normal normal normal 12px/18px Open Sans;
  letter-spacing: 0px;
  color: #323A45;
  text-transform: none;
  width: 100%;
  top: -60px;
  left: 0;
}

.tbdemo-button-disabled:not(.tbdemo-button-loading):hover .tbdemo-button-tooltip {
  display: block;
}

.tbdemo-underline,
.tbdemo-underline-text {
  position: relative;
}

.tbdemo-underline-img {
  position: absolute;
  top: 100%;
  left: 0;
  width: 110px;
  height: 7px;
  background-image: url("../image/underline.svg");
  background-repeat: no-repeat;
}

.tbdemo-popup {
  width: 940px;
  height: 600px;
  background: #2A2F30;
  border-radius: 12px;
  border: 1px solid #323A4533;
  top: calc(50% - 300px);
  left: calc(50% - 470px);
  position: fixed;
  z-index: 1000001;
  display: flex;
  flex-direction: row;
  color: #FFFFFF;
  overflow: hidden;
}

.tbdemo-button.tbdemo-button-promo-got-it,
.tbdemo-button.tbdemo-button-promo-got-it:hover {
  margin: 30px 0 0 auto;
  width: 260px;
}

.tbdemo-popup-left .tbdemo-button.tbdemo-button-promo-got-it,
.tbdemo-popup-left .tbdemo-button.tbdemo-button-promo-got-it:hover {
  margin: 30px auto 0 auto;
  width: 360px;
}

.tbdemo-popup>div {
  width: 50%;
}

.tbdemo-popup-left {
  padding: 30px 40px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.tbdemo-popup-left > div {
  flex-grow: 1;
}

.tbdemo-popup-right {
  background-image: url("../image/banner.jpg");
  background-size: 470px 600px;
  background-repeat: no-repeat;
  border-left: 1px solid #FFFFFF0D;
}

.tbdemo-popup-title {
  font: normal normal 800 18px/28px Open Sans;
  letter-spacing: 0.15px;
}

.tbdemo-popup-description {
  font: normal normal normal 14px/20px Open Sans;
  letter-spacing: 0px;
  padding: 5px 0 20px 0;
}

.tbdemo-popup ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.tbdemo-popup-share {
  padding: 20px;
  background-color: #FFFFFF08;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}

.tbdemo-popup-share-text {
  font: normal normal normal 14px/20px Open Sans;
  letter-spacing: 0px;
}

.tbdemo-popup-share-cont,
.tbdemo-popup-share-buttons,
.tbdemo-popup-copy,
.tbdemo-popup-share-link {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.tbdemo-popup-text-to-copy {
  padding: 0 10px;
  margin: 0 10px;
  border-left: 1px solid #FFFFFF0D;
  border-right: 1px solid #FFFFFF0D;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.tbdemo-popup-copy {
  background-color: #FFFFFF08;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 6px;
  margin-top: 20px;
  font: normal normal normal 12px/18px Open Sans;
}

.tbdemo-popup-copyied {
  cursor: pointer;
  width: 50px;
}

.tbdemo-popup-share-button {
  width: 40px;
  height: 40px;
  background-color: #FFFFFF08;
  border: none;
  border-radius: 6px;
  padding: 10px;
  box-sizing: border-box;
  margin-left: 10px;
}

.tbdemo-popup li {
  font: normal normal bold 14px/20px Open Sans;
  letter-spacing: 0px;
  background: url("../image/disc.svg") no-repeat;
  background-position: 0px center;
  background-size: 15px;
  padding-left: 22px;
  margin-bottom: 6px;
}

.tbdemo-button-promo.tbdemo-button,
.tbdemo-button-promo.tbdemo-button:hover {
  width: 360px;
}

.tbdemo-popup .tbdemo-popup-close {
  background-image: url("../image/close.svg");
  background-repeat: no-repeat;
  position: absolute;
  right: 15px;
  top: 15px;
  width: 16px;
  height: 16px;
  cursor: pointer;
}

.tbdemo-popup-overlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #000000;
  opacity: 0.9;
  z-index: 1000000;
}

.tbdemo-upgrade-layout{
  position: fixed;
  width: 100%;
  height: 100%;
  left:0;
  top: 0;
  background-color: #000000;
  opacity: 0.5;
}

.tbdemo-upgrade-close {
  position: fixed;
  width: 18px;
  height: 18px;
  background: url("../image/close_dark.svg") no-repeat 0 0;
  right: 15px;
  top: 15px;
  cursor: pointer;
  z-index: 99;
}

.tbdemo-upgrade-left {
  width: 440px;
  padding: 30px 40px;
  box-sizing: border-box;
}

.tbdemo-upgrade-right {
  width: 740px;
  background: #2A2F3008 0% 0% no-repeat padding-box;
}

.tbdemo-upgrade-title {
  text-align: left;
  font: normal normal 800 18px/28px Open Sans;
  letter-spacing: 0.15px;
  color: #2A2F30;
}

.tbdemo-upgrade-descr {
  text-align: left;
  font: normal normal normal 14px/20px Open Sans;
  letter-spacing: 0px;
  color: #2A2F30;
}

.tbdemo-upgrade-subtitle {
  text-align: left;
  font: normal normal bold 14px/20px Open Sans;
  letter-spacing: 0px;
  color: #2A2F30;
  margin: 25px 0 8px 0;
}

.tbdemo-upgrade-subdescr {
  text-align: left;
  font: normal normal normal 12px/18px Open Sans;
  letter-spacing: 0.1px;
  color: #2A2F30;
}

a.tbdemo-upgrade-button {
  background: #2160B5 0% 0% no-repeat padding-box;
  border-radius: 6px;
  opacity: 1;
  color: #FFFFFF;
  width: 100%;
  display: block;
  height: 40px;
  text-align: center;
  line-height: 40px;
  margin-top: 65px;
}

a.tbdemo-upgrade-button:active,
a.tbdemo-upgrade-button:hover {
  color: #FFFFFF;
}

.tbdemo-upgrade-videos {
  list-style: none;
  padding: 0;
  margin: 0;
}

.tbdemo-upgrade-videos li {
  display: flex;
  text-align: left;
  font: normal normal normal 12px/18px Open Sans;
  letter-spacing: 0.1px;
  color: #2A2F30;
  opacity: 0.8;
  margin-bottom: 16px;
  cursor: pointer;
}

.tbdemo-upgrade-videos li span {
  background: url(../image/right-arrow_icon_default.svg) #2160B50D no-repeat 4px 3px;
  width: 18px;
  height: 18px;
  border-radius: 9px;
  margin-right: 8px;
  background-size: 12px;
}

.tbdemo-upgrade-videos li.tbdemo-video-active span,
.tbdemo-upgrade-videos li:hover span {
  background: url(../image/right_arrow_icon_active.svg) #2160B50D no-repeat 4px 3px;
  background-size: 12px;
}

.tbdemo-upgrade-videos li.tbdemo-video-active,
.tbdemo-upgrade-videos li.tbdemo-video-active:hover {
  font: normal normal 600 12px/18px Open Sans;
  letter-spacing: 0.1px;
  color: #2A2F30;
  opacity: 1;
}

.tbdemo-upgrade-videos li:hover {
  font: normal normal normal 12px/18px Open Sans;
  letter-spacing: 0.1px;
  color: #2A2F30;
  opacity: 1;
}

.tbdemo-upgrade-button-mobile {
  display: none;
}

.tbdemo-devicebar-border {
  position: fixed;
  bottom: 21px;
  left: calc(50% - 45px);
  width: 90px;
  height: 38px;
  /* UI Properties */
  background: transparent linear-gradient(238deg, #22B339 0%, #4285F4 100%) 0% 0% no-repeat padding-box;
  border-radius: 6px;
  opacity: 1;
  z-index: 100000;
  padding: 1px;
  box-sizing: border-box;
}

.tbdemo-devicebar {
  display:flex;
  width: 100%;
  height: 100%;
  /* UI Properties */
  background: #2A2F30 0% 0% no-repeat padding-box;
  border-radius: 6px;
  opacity: 1;
  z-index: 100000;
  padding: 6px 11px;
  box-sizing: border-box;
}

.tbdemo-devicebar i {
  cursor: pointer;
}

.tbdemo-device-laptop {
  border-right: 1px solid #FFFFFF1A;
  padding-right: 10px;
}

.tbdemo-device-mobile {
  margin-left: 10px;
}

.tbdemo-devicebar i:before {
  font-size: 24px;
  color: #6A6E6F;
}

.tbdemo-devicebar i.tbdemo-device-active:before {
  color: #ffffff;
}

#tbdemo-device-iframe {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1001;

}
.tbdemo-device-layer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  z-index: 1000;
}

#tbdemo-device-iframe .tbdemo-devicebar-border {
  display:none;
}

#tbdemo-device-iframe body::-webkit-scrollbar {
  width: 2px;
}

#tbdemo-device-iframe body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

#tbdemo-device-iframe body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}


/* Share bar styles */
.twbb-pu-bar.twbb-pu-bottom-bar {
  display: none!important;
}

.tbdemo-sharebar-container {
  position: fixed;
  right: 22px;
  bottom: 22px;
  width: 66px;
  height: 228px;
  z-index: 9999;
}

.tbdemo-circle-icon-border {
  position: absolute;
  right:0;
  width: 66px;
  height: 66px;
  background: transparent linear-gradient(213deg, #22B339 0%, #4285F4 100%) 0% 0% no-repeat padding-box;
  border-radius: 33px;
  margin-bottom: 15px;
  overflow: hidden;
  padding: 2px;
  box-sizing: border-box;
  cursor: pointer;
}

.tbdemo-circle-icon-border:first-child {
  top:0;
}

.tbdemo-circle-icon-border:nth-child(2) {
  top:81px
}
.tbdemo-circle-icon-border:nth-child(3) {
  top:162px
}

.tbdemo-circle-icon {
  display:flex;
  width: 100%;
  height: 100%;
  /* UI Properties */
  background: #2A2F30 0% 0% no-repeat padding-box;
  overflow: hidden;
  border-radius: 31px;
  cursor:pointer;
}

.tbdemo-circle-icon {
  background-position: 15px;
  background-repeat: no-repeat;
  background-size: 30px;
}

.tbdemo-share {
  background-image: url(../image/share_icon.svg);
}
.tbdemo-edit {
  background-image: url(../image/edit_icon.svg);
}

.tbdemo-circle-icon-content {
  display: flex;
  width: 100%;
  padding: 13px 20px;
  box-sizing: border-box;
  align-items: center;
}

.tbdemo-circle-icon-content > span {
  width: 205px;
  text-align: left;
  font: normal normal 600 12px/18px Open Sans;
  letter-spacing: 0.1px;
  color: #FFFFFF;
  flex-grow: 1;
}

.tbdemo-circle-icon-button {
  width: 70px;
  height: 24px;
  /* UI Properties */
  background: #22B339 0% 0% no-repeat padding-box;
  border-radius: 26px;
  text-align: center;
  font: normal normal 600 10px/24px Open Sans;
  letter-spacing: 0.08px;
  color: #FFFFFF;
  text-decoration: none;
}

.tbdemo-circle-icon-button:hover,
.tbdemo-circle-icon-button:active {
  color: #FFFFFF;
  text-decoration: none;
}

.tbdemo-circle-icon-border.tbdemo-circle-open {
  width: 330px;
}

.tbdemo-circle-icon-border.tbdemo-circle-open .tbdemo-circle-icon-content {
  display: flex!important;
}

.tbdemo-circle-icon-border.tbdemo-circle-open .tbdemo-circle-icon {
  background-image: none;
}

.tbdemo-sharebar-container-mobile {
  display: none;
}

.tf-v1-popover-button {
  width: 62px;
  height: 62px;
  right: 24px;
  bottom: 186px;
}

.tf-v1-popover {
  right: 24px;
  bottom: 252px;
}

a.tbdemo-madebar-border-container {
  position: fixed;
  left: 21px;
  bottom: 21px;
  width: 142px;
  height: 38px;
  background: transparent linear-gradient(248deg, #22B339 0%, #4285F4 100%) 0% 0% no-repeat padding-box;
  border-radius: 6px;
  z-index: 100000;
  padding: 1px;
  box-sizing: border-box;
  text-decoration: none;
  color: #FFFFFF;
}

a.tbdemo-madebar-border-container:hover,
a.tbdemo-madebar-border-container:active {
  text-decoration: none;
  color: #FFFFFF;
}

.tbdemo-madebar-container {
  width: 100%;
  height: 100%;
  background: url("../image/logo.svg") #2A2F30 no-repeat 9px 10px;
  background-size: 16px;
  z-index: 100000;
  border-radius: 6px;
}

.tbdemo-madebar-container > span {
  text-align: left;
  font: normal normal bold 12px/36px Open Sans;
  margin-left: 30px;
  border-left: 1px solid #FFFFFF1A;
  padding-left: 6px;
  letter-spacing: 0px;
  color: #FFFFFF;
}


@media screen and (max-width: 1200px) {
  .tbdemo-upgrade-left {
    width: 100%;
    padding: 30px 20px 10px 20px;
  }

  .tbdemo-upgrade-right {
    width: 100%;
    padding: 0px 20px;
    height: 195px;
  }

  .tbdemo-upgrade-right video {
    height: 195px!important;
    width:100%!important;
  }

  .tbdemo-upgrade-title {
    font: normal normal 800 16px/26px Open Sans;
    letter-spacing: 0.13px;
    color: #2A2F30;
    margin-bottom: 5px;
  }

  .tbdemo-upgrade-subtitle {
    margin: 20px 0 8px 0;
  }

  .tbdemo-upgrade-button.tbdemo-upgrade-button-desktop {
    display: none;
  }

  .tbdemo-upgrade-button.tbdemo-upgrade-button-mobile {
    display: block;
    margin: 10px auto;
    width: 260px;
    height: 40px;
  }

  .tbdemo-info-container {
    display: none;
  }
}

@media screen and (max-width: 1024px) {
  .tbdemo-bar {
    font: normal normal 600 14px/22px Open Sans;
    letter-spacing: 0.12px;
  }
}

@media screen and (max-width: 420px) {
  body {
    padding-bottom: 110px !important;
  }
}
@media screen and (min-width: 421px) and (max-width: 860px) {
  body {
    padding-bottom: 87px !important;
  }
}
@media screen and (max-width: 860px) {
  body {
    /*padding-top: 131px !important;*/
    height: auto !important;
  }
  .tbdemo-bar {
    width: 100%;
    flex-direction: column;
    height: auto;
    font: normal normal 600 14px/22px Open Sans;
    letter-spacing: 0.12px;
    padding: 10px 15px;
    box-sizing: border-box;
  }

  .tbdemo-top-bar {
    background-image: none;
    min-height: 78px;
  }

  .tbdemo-bottom-bar {
    width: 100%;
    bottom: 0;
    border-radius: 0;
  }

  .tbdemo-popup-title {
    font: normal normal 800 16px/26px Open Sans;
    letter-spacing: 0.13px;
    color: #FFFFFF;
    width:100%;
  }

  .tbdemo-popup li {
    font: normal normal bold 12px/18px Open Sans;
    letter-spacing: 0px;
    color: #FFFFFF;
  }

  .tbdemo-popup-left {
    padding: 30px 20px;
  }

  .tbdemo-popup-share-button {
    width: 30px;
    height: 30px;
    padding: 5px;
  }

  .tbdemo-button, .tbdemo-button:hover {
    width: 150px;
    height: 30px;
    margin: 15px 0 0 0;
    font: normal normal 600 12px/30px Open Sans;
    letter-spacing: 0.1px;
  }

  .tbdemo-button-promo.tbdemo-button,
  .tbdemo-button-promo.tbdemo-button:hover,
  .tbdemo-button.tbdemo-button-promo-got-it,
  .tbdemo-button.tbdemo-button-promo-got-it:hover,
  .tbdemo-popup-left .tbdemo-button.tbdemo-button-promo-got-it,
  .tbdemo-popup-left .tbdemo-button.tbdemo-button-promo-got-it:hover {
    width: 260px;
    height: 40px;
    margin: auto;
  }

  .tbdemo-br {
    display: block;
  }

  .tbdemo-bar.tbdemo-guest>span {
    font-size: 12px;
  }
  .tbdemo-bar>span {
    width: 300px;
    text-align: center;
  }
  .tbdemo-popup {
    top: 0;
    left: 0;
    border-radius: 0;
  }
  .tbdemo-popup,
  .tbdemo-popup>div {
    width: 100%;
    height: 100%;
  }

  .tbdemo-popup-right,
  .tf-v1-popover {
    display: none;
  }

  .tbdemo-underline,
  .tbdemo-underline-text {
    display: block;
  }

  .tbdemo-underline-img {
    left: 50%;
    transform: translate(-50%, 0px);
  }

  .tbdemo-sharebar-container {
    display: none!important;
  }

  .tbdemo-sharebar-container-mobile {
    position: fixed;
    bottom:0;
    left:0;
    width: 100%;
    height: 60px;
    background: #2A2F30 0% 0% no-repeat padding-box;
    display: flex!important;
    justify-content: center;
    align-items: center;
    z-index: 9999;
  }

  .tbdemo-sharebar-container-mobile .tbdemo-share-button {
    width: 100px;
    height: 30px;
    /* UI Properties */
    border: 1px solid #FFFFFF;
    border-radius: 6px;
    text-align: center;
    font: normal normal 600 12px/30px Open Sans;
    letter-spacing: 0.1px;
    color: #FFFFFF;
    background-color: #2A2F30;
    margin-right: 20px;
    cursor: pointer;
  }

  .tbdemo-sharebar-container-mobile .tbdemo-edit-button {
    width: 100px;
    height: 30px;
    /* UI Properties */
    border-radius: 6px;
    text-align: center;
    font: normal normal 600 12px/30px Open Sans;
    letter-spacing: 0.1px;
    color: #FFFFFF;
    cursor: pointer;
  }

  .tbdemo-devicebar-border,
  .tbdemo-madebar-border-container {
    display:none!important;
  }
}